extends layout

block content
  div
    table(border=1,width="60%")
      tr
        th ID
        th NAME
        th SALARY
      each employee in employees
        tr                
          td #{employee.empid} 
          td #{employee.empname} 
          td #{employee.salary}